:root {
  --amber-50: oklch(0.9870 0.0220 95.28);
  --amber-100: oklch(0.9620 0.0590 95.62);
  --amber-200: oklch(0.9240 0.1200 95.75);
  --amber-300: oklch(0.8790 0.1690 91.61);
  --amber-400: oklch(0.8280 0.1890 84.43);
  --amber-500: oklch(0.7690 0.1880 70.08);
  --amber-600: oklch(0.6660 0.1790 58.32);
  --amber-700: oklch(0.5550 0.1630 49.00);
  --amber-800: oklch(0.4730 0.1370 46.20);
  --amber-900: oklch(0.4140 0.1120 45.90);
  --amber-950: oklch(0.2790 0.0770 45.63);
  --blue-50: oklch(0.9700 0.0140 254.60);
  --blue-100: oklch(0.9320 0.0320 255.59);
  --blue-200: oklch(0.8820 0.0590 254.13);
  --blue-300: oklch(0.8090 0.1050 251.81);
  --blue-400: oklch(0.7070 0.1650 254.62);
  --blue-500: oklch(0.6230 0.2140 259.81);
  --blue-600: oklch(0.5460 0.2450 262.88);
  --blue-700: oklch(0.4880 0.2430 264.38);
  --blue-800: oklch(0.4240 0.1990 265.64);
  --blue-900: oklch(0.3790 0.1460 265.52);
  --blue-950: oklch(0.2820 0.0910 267.94);
  --cyan-50: oklch(0.9840 0.0190 200.87);
  --cyan-100: oklch(0.9560 0.0450 203.39);
  --cyan-200: oklch(0.9170 0.0800 205.04);
  --cyan-300: oklch(0.8650 0.1270 207.08);
  --cyan-400: oklch(0.7890 0.1540 211.53);
  --cyan-500: oklch(0.7150 0.1430 215.22);
  --cyan-600: oklch(0.6090 0.1260 221.72);
  --cyan-700: oklch(0.5200 0.1050 223.13);
  --cyan-800: oklch(0.4500 0.0850 224.28);
  --cyan-900: oklch(0.3980 0.0700 227.39);
  --cyan-950: oklch(0.3020 0.0560 229.69);
  --emerald-50: oklch(0.9790 0.0210 166.11);
  --emerald-100: oklch(0.9500 0.0520 163.05);
  --emerald-200: oklch(0.9050 0.0930 164.15);
  --emerald-300: oklch(0.8450 0.1430 164.98);
  --emerald-400: oklch(0.7650 0.1770 163.22);
  --emerald-500: oklch(0.6960 0.1700 162.48);
  --emerald-600: oklch(0.5960 0.1450 163.22);
  --emerald-700: oklch(0.5080 0.1180 165.61);
  --emerald-800: oklch(0.4320 0.0950 166.91);
  --emerald-900: oklch(0.3780 0.0770 168.94);
  --emerald-950: oklch(0.2620 0.0510 172.55);
  --fuchsia-50: oklch(0.9770 0.0170 320.06);
  --fuchsia-100: oklch(0.9520 0.0370 318.85);
  --fuchsia-200: oklch(0.9030 0.0760 319.62);
  --fuchsia-300: oklch(0.8330 0.1450 321.43);
  --fuchsia-400: oklch(0.7400 0.2380 322.16);
  --fuchsia-500: oklch(0.6670 0.2950 322.15);
  --fuchsia-600: oklch(0.5910 0.2930 322.90);
  --fuchsia-700: oklch(0.5180 0.2530 323.95);
  --fuchsia-800: oklch(0.4520 0.2110 324.59);
  --fuchsia-900: oklch(0.4010 0.1700 325.61);
  --fuchsia-950: oklch(0.2930 0.1360 325.66);
  --gray-50: oklch(0.9850 0.0020 247.84);
  --gray-100: oklch(0.9670 0.0030 264.54);
  --gray-200: oklch(0.9280 0.0060 264.53);
  --gray-300: oklch(0.8720 0.0100 258.34);
  --gray-400: oklch(0.7070 0.0220 261.32);
  --gray-500: oklch(0.5510 0.0270 264.36);
  --gray-600: oklch(0.4460 0.0300 256.80);
  --gray-700: oklch(0.3730 0.0340 259.73);
  --gray-800: oklch(0.2780 0.0330 256.85);
  --gray-900: oklch(0.2100 0.0340 264.67);
  --gray-950: oklch(0.1300 0.0280 261.69);
  --green-50: oklch(0.9820 0.0180 155.83);
  --green-100: oklch(0.9620 0.0440 156.74);
  --green-200: oklch(0.9250 0.0840 156.00);
  --green-300: oklch(0.8710 0.1500 154.45);
  --green-400: oklch(0.7920 0.2090 151.71);
  --green-500: oklch(0.7230 0.2190 149.58);
  --green-600: oklch(0.6270 0.1940 149.21);
  --green-700: oklch(0.5270 0.1540 150.07);
  --green-800: oklch(0.4480 0.1190 151.33);
  --green-900: oklch(0.3930 0.0950 152.53);
  --green-950: oklch(0.2660 0.0650 152.93);
  --indigo-50: oklch(0.9620 0.0180 272.31);
  --indigo-100: oklch(0.9300 0.0340 272.79);
  --indigo-200: oklch(0.8700 0.0650 274.04);
  --indigo-300: oklch(0.7850 0.1150 274.71);
  --indigo-400: oklch(0.6730 0.1820 276.94);
  --indigo-500: oklch(0.5850 0.2330 277.12);
  --indigo-600: oklch(0.5110 0.2620 276.97);
  --indigo-700: oklch(0.4570 0.2400 277.02);
  --indigo-800: oklch(0.3980 0.1950 277.37);
  --indigo-900: oklch(0.3590 0.1440 278.70);
  --indigo-950: oklch(0.2570 0.0900 281.29);
  --lime-50: oklch(0.9860 0.0310 120.76);
  --lime-100: oklch(0.9670 0.0670 122.33);
  --lime-200: oklch(0.9380 0.1270 124.32);
  --lime-300: oklch(0.8970 0.1960 126.67);
  --lime-400: oklch(0.8410 0.2380 128.85);
  --lime-500: oklch(0.7680 0.2330 130.85);
  --lime-600: oklch(0.6480 0.2000 131.68);
  --lime-700: oklch(0.5320 0.1570 131.59);
  --lime-800: oklch(0.4530 0.1240 130.93);
  --lime-900: oklch(0.4050 0.1010 131.06);
  --lime-950: oklch(0.2740 0.0720 132.11);
  --neutral-50: oklch(0.9850 0.0000 0.00);
  --neutral-100: oklch(0.9700 0.0000 0.00);
  --neutral-200: oklch(0.9220 0.0000 0.00);
  --neutral-300: oklch(0.8700 0.0000 0.00);
  --neutral-400: oklch(0.7080 0.0000 0.00);
  --neutral-500: oklch(0.5560 0.0000 0.00);
  --neutral-600: oklch(0.4390 0.0000 0.00);
  --neutral-700: oklch(0.3710 0.0000 0.00);
  --neutral-800: oklch(0.2690 0.0000 0.00);
  --neutral-900: oklch(0.2050 0.0000 0.00);
  --neutral-950: oklch(0.1450 0.0000 0.00);
  --orange-50: oklch(0.9800 0.0160 73.68);
  --orange-100: oklch(0.9540 0.0380 75.16);
  --orange-200: oklch(0.9010 0.0760 70.70);
  --orange-300: oklch(0.8370 0.1280 66.29);
  --orange-400: oklch(0.7500 0.1830 55.93);
  --orange-500: oklch(0.7050 0.2130 47.60);
  --orange-600: oklch(0.6460 0.2220 41.12);
  --orange-700: oklch(0.5530 0.1950 38.40);
  --orange-800: oklch(0.4700 0.1570 37.30);
  --orange-900: oklch(0.4080 0.1230 38.17);
  --orange-950: oklch(0.2660 0.0790 36.26);
  --pink-50: oklch(0.9710 0.0140 343.20);
  --pink-100: oklch(0.9480 0.0280 342.26);
  --pink-200: oklch(0.8990 0.0610 343.23);
  --pink-300: oklch(0.8230 0.1200 346.02);
  --pink-400: oklch(0.7180 0.2020 349.76);
  --pink-500: oklch(0.6560 0.2410 354.31);
  --pink-600: oklch(0.5920 0.2490 0.58);
  --pink-700: oklch(0.5250 0.2230 3.96);
  --pink-800: oklch(0.4590 0.1870 3.81);
  --pink-900: oklch(0.4080 0.1530 2.43);
  --pink-950: oklch(0.2840 0.1090 3.91);
  --purple-50: oklch(0.9770 0.0140 308.30);
  --purple-100: oklch(0.9460 0.0330 307.17);
  --purple-200: oklch(0.9020 0.0630 306.70);
  --purple-300: oklch(0.8270 0.1190 306.38);
  --purple-400: oklch(0.7140 0.2030 305.50);
  --purple-500: oklch(0.6270 0.2650 303.90);
  --purple-600: oklch(0.5580 0.2880 302.32);
  --purple-700: oklch(0.4960 0.2650 301.92);
  --purple-800: oklch(0.4380 0.2180 303.72);
  --purple-900: oklch(0.3810 0.1760 304.99);
  --purple-950: oklch(0.2910 0.1490 302.72);
  --red-50: oklch(0.9710 0.0130 17.38);
  --red-100: oklch(0.9360 0.0320 17.72);
  --red-200: oklch(0.8850 0.0620 18.33);
  --red-300: oklch(0.8080 0.1140 19.57);
  --red-400: oklch(0.7040 0.1910 22.22);
  --red-500: oklch(0.6370 0.2370 25.33);
  --red-600: oklch(0.5770 0.2450 27.32);
  --red-700: oklch(0.5050 0.2130 27.52);
  --red-800: oklch(0.4440 0.1770 26.90);
  --red-900: oklch(0.3960 0.1410 25.72);
  --red-950: oklch(0.2580 0.0920 26.04);
  --rose-50: oklch(0.9690 0.0150 12.42);
  --rose-100: oklch(0.9410 0.0300 12.58);
  --rose-200: oklch(0.8920 0.0580 10.00);
  --rose-300: oklch(0.8100 0.1170 11.64);
  --rose-400: oklch(0.7120 0.1940 13.43);
  --rose-500: oklch(0.6450 0.2460 16.44);
  --rose-600: oklch(0.5860 0.2530 17.59);
  --rose-700: oklch(0.5140 0.2220 16.93);
  --rose-800: oklch(0.4550 0.1880 13.70);
  --rose-900: oklch(0.4100 0.1590 10.27);
  --rose-950: oklch(0.2710 0.1050 12.09);
  --sky-50: oklch(0.9770 0.0130 236.62);
  --sky-100: oklch(0.9510 0.0260 236.82);
  --sky-200: oklch(0.9010 0.0580 230.90);
  --sky-300: oklch(0.8280 0.1110 230.32);
  --sky-400: oklch(0.7460 0.1600 232.66);
  --sky-500: oklch(0.6850 0.1690 237.32);
  --sky-600: oklch(0.5880 0.1580 241.97);
  --sky-700: oklch(0.5000 0.1340 242.75);
  --sky-800: oklch(0.4430 0.1100 240.79);
  --sky-900: oklch(0.3910 0.0900 240.88);
  --sky-950: oklch(0.2930 0.0660 243.16);
  --slate-50: oklch(0.9840 0.0030 247.86);
  --slate-100: oklch(0.9680 0.0070 247.90);
  --slate-200: oklch(0.9290 0.0130 255.51);
  --slate-300: oklch(0.8690 0.0220 252.89);
  --slate-400: oklch(0.7040 0.0400 256.79);
  --slate-500: oklch(0.5540 0.0460 257.42);
  --slate-600: oklch(0.4460 0.0430 257.28);
  --slate-700: oklch(0.3720 0.0440 257.29);
  --slate-800: oklch(0.2790 0.0410 260.03);
  --slate-900: oklch(0.2080 0.0420 265.75);
  --slate-950: oklch(0.1290 0.0420 264.69);
  --stone-50: oklch(0.9850 0.0010 106.42);
  --stone-100: oklch(0.9700 0.0010 106.42);
  --stone-200: oklch(0.9230 0.0030 48.72);
  --stone-300: oklch(0.8690 0.0050 56.37);
  --stone-400: oklch(0.7090 0.0100 56.26);
  --stone-500: oklch(0.5530 0.0130 58.07);
  --stone-600: oklch(0.4440 0.0110 73.64);
  --stone-700: oklch(0.3740 0.0100 67.56);
  --stone-800: oklch(0.2680 0.0070 34.30);
  --stone-900: oklch(0.2160 0.0060 56.04);
  --stone-950: oklch(0.1470 0.0040 49.25);
  --teal-50: oklch(0.9840 0.0140 180.72);
  --teal-100: oklch(0.9530 0.0510 180.80);
  --teal-200: oklch(0.9100 0.0960 180.43);
  --teal-300: oklch(0.8550 0.1380 181.07);
  --teal-400: oklch(0.7770 0.1520 181.91);
  --teal-500: oklch(0.7040 0.1400 182.50);
  --teal-600: oklch(0.6000 0.1180 184.70);
  --teal-700: oklch(0.5110 0.0960 186.39);
  --teal-800: oklch(0.4370 0.0780 188.22);
  --teal-900: oklch(0.3860 0.0630 188.42);
  --teal-950: oklch(0.2770 0.0460 192.52);
  --violet-50: oklch(0.9690 0.0160 293.76);
  --violet-100: oklch(0.9430 0.0290 294.59);
  --violet-200: oklch(0.8940 0.0570 293.28);
  --violet-300: oklch(0.8110 0.1110 293.57);
  --violet-400: oklch(0.7020 0.1830 293.54);
  --violet-500: oklch(0.6060 0.2500 292.72);
  --violet-600: oklch(0.5410 0.2810 293.01);
  --violet-700: oklch(0.4910 0.2700 292.58);
  --violet-800: oklch(0.4320 0.2320 292.76);
  --violet-900: oklch(0.3800 0.1890 293.75);
  --violet-950: oklch(0.2830 0.1410 291.09);
  --yellow-50: oklch(0.9870 0.0260 102.21);
  --yellow-100: oklch(0.9730 0.0710 103.19);
  --yellow-200: oklch(0.9450 0.1290 101.54);
  --yellow-300: oklch(0.9050 0.1820 98.11);
  --yellow-400: oklch(0.8520 0.1990 91.94);
  --yellow-500: oklch(0.7950 0.1840 86.05);
  --yellow-600: oklch(0.6810 0.1620 75.83);
  --yellow-700: oklch(0.5540 0.1350 66.44);
  --yellow-800: oklch(0.4760 0.1140 61.91);
  --yellow-900: oklch(0.4210 0.0950 57.71);
  --yellow-950: oklch(0.2860 0.0660 53.81);
  --zinc-50: oklch(0.9850 0.0000 0.00);
  --zinc-100: oklch(0.9670 0.0010 286.38);
  --zinc-200: oklch(0.9200 0.0040 286.32);
  --zinc-300: oklch(0.8710 0.0060 286.29);
  --zinc-400: oklch(0.7050 0.0150 286.07);
  --zinc-500: oklch(0.5520 0.0160 285.94);
  --zinc-600: oklch(0.4420 0.0170 285.79);
  --zinc-700: oklch(0.3700 0.0130 285.81);
  --zinc-800: oklch(0.2740 0.0060 286.03);
  --zinc-900: oklch(0.2100 0.0060 285.88);
  --zinc-950: oklch(0.1410 0.0050 285.82);
}