:root {
  --amber-50: rgb(255, 251, 235);
  --amber-100: rgb(254, 243, 198);
  --amber-200: rgb(254, 230, 133);
  --amber-300: rgb(255, 210, 48);
  --amber-400: rgb(255, 185, 0);
  --amber-500: rgb(254, 154, 0);
  --amber-600: rgb(225, 113, 0);
  --amber-700: rgb(187, 77, 0);
  --amber-800: rgb(151, 60, 0);
  --amber-900: rgb(123, 51, 6);
  --amber-950: rgb(70, 25, 1);
  --blue-50: rgb(239, 246, 255);
  --blue-100: rgb(219, 234, 254);
  --blue-200: rgb(190, 219, 255);
  --blue-300: rgb(142, 197, 255);
  --blue-400: rgb(81, 162, 255);
  --blue-500: rgb(43, 127, 255);
  --blue-600: rgb(21, 93, 252);
  --blue-700: rgb(20, 71, 230);
  --blue-800: rgb(25, 60, 184);
  --blue-900: rgb(28, 57, 142);
  --blue-950: rgb(22, 36, 86);
  --cyan-50: rgb(236, 254, 255);
  --cyan-100: rgb(206, 250, 254);
  --cyan-200: rgb(162, 244, 253);
  --cyan-300: rgb(83, 234, 253);
  --cyan-400: rgb(0, 211, 242);
  --cyan-500: rgb(0, 184, 219);
  --cyan-600: rgb(0, 146, 184);
  --cyan-700: rgb(0, 117, 149);
  --cyan-800: rgb(0, 95, 120);
  --cyan-900: rgb(16, 78, 100);
  --cyan-950: rgb(5, 51, 69);
  --emerald-50: rgb(236, 253, 245);
  --emerald-100: rgb(208, 250, 229);
  --emerald-200: rgb(164, 244, 207);
  --emerald-300: rgb(94, 233, 181);
  --emerald-400: rgb(0, 212, 146);
  --emerald-500: rgb(0, 188, 125);
  --emerald-600: rgb(0, 153, 102);
  --emerald-700: rgb(0, 122, 85);
  --emerald-800: rgb(0, 96, 69);
  --emerald-900: rgb(0, 79, 59);
  --emerald-950: rgb(0, 44, 34);
  --fuchsia-50: rgb(253, 244, 255);
  --fuchsia-100: rgb(250, 232, 255);
  --fuchsia-200: rgb(246, 207, 255);
  --fuchsia-300: rgb(244, 168, 255);
  --fuchsia-400: rgb(237, 106, 255);
  --fuchsia-500: rgb(225, 42, 251);
  --fuchsia-600: rgb(200, 0, 222);
  --fuchsia-700: rgb(168, 0, 183);
  --fuchsia-800: rgb(138, 1, 148);
  --fuchsia-900: rgb(114, 19, 120);
  --fuchsia-950: rgb(75, 0, 79);
  --gray-50: rgb(249, 250, 251);
  --gray-100: rgb(243, 244, 246);
  --gray-200: rgb(229, 231, 235);
  --gray-300: rgb(209, 213, 220);
  --gray-400: rgb(153, 161, 175);
  --gray-500: rgb(106, 114, 130);
  --gray-600: rgb(74, 85, 101);
  --gray-700: rgb(54, 65, 83);
  --gray-800: rgb(30, 41, 57);
  --gray-900: rgb(16, 24, 40);
  --gray-950: rgb(3, 7, 18);
  --green-50: rgb(240, 253, 244);
  --green-100: rgb(220, 252, 231);
  --green-200: rgb(185, 248, 207);
  --green-300: rgb(123, 241, 168);
  --green-400: rgb(5, 223, 114);
  --green-500: rgb(0, 201, 80);
  --green-600: rgb(0, 166, 62);
  --green-700: rgb(0, 130, 54);
  --green-800: rgb(1, 102, 48);
  --green-900: rgb(13, 84, 43);
  --green-950: rgb(3, 46, 21);
  --indigo-50: rgb(238, 242, 255);
  --indigo-100: rgb(224, 231, 255);
  --indigo-200: rgb(198, 210, 255);
  --indigo-300: rgb(163, 179, 255);
  --indigo-400: rgb(124, 134, 255);
  --indigo-500: rgb(97, 95, 255);
  --indigo-600: rgb(79, 57, 246);
  --indigo-700: rgb(67, 45, 215);
  --indigo-800: rgb(55, 42, 172);
  --indigo-900: rgb(49, 44, 133);
  --indigo-950: rgb(30, 26, 77);
  --lime-50: rgb(247, 254, 231);
  --lime-100: rgb(236, 252, 202);
  --lime-200: rgb(216, 249, 153);
  --lime-300: rgb(187, 244, 81);
  --lime-400: rgb(154, 230, 0);
  --lime-500: rgb(124, 207, 0);
  --lime-600: rgb(94, 165, 0);
  --lime-700: rgb(73, 125, 0);
  --lime-800: rgb(60, 99, 0);
  --lime-900: rgb(53, 83, 14);
  --lime-950: rgb(25, 46, 3);
  --neutral-50: rgb(250, 250, 250);
  --neutral-100: rgb(245, 245, 245);
  --neutral-200: rgb(229, 229, 229);
  --neutral-300: rgb(212, 212, 212);
  --neutral-400: rgb(161, 161, 161);
  --neutral-500: rgb(115, 115, 115);
  --neutral-600: rgb(82, 82, 82);
  --neutral-700: rgb(64, 64, 64);
  --neutral-800: rgb(38, 38, 38);
  --neutral-900: rgb(23, 23, 23);
  --neutral-950: rgb(10, 10, 10);
  --orange-50: rgb(255, 247, 237);
  --orange-100: rgb(255, 237, 212);
  --orange-200: rgb(255, 214, 167);
  --orange-300: rgb(255, 184, 106);
  --orange-400: rgb(255, 137, 4);
  --orange-500: rgb(255, 105, 0);
  --orange-600: rgb(245, 73, 0);
  --orange-700: rgb(202, 53, 0);
  --orange-800: rgb(159, 45, 0);
  --orange-900: rgb(126, 42, 12);
  --orange-950: rgb(68, 19, 6);
  --pink-50: rgb(253, 242, 248);
  --pink-100: rgb(252, 231, 243);
  --pink-200: rgb(252, 206, 232);
  --pink-300: rgb(253, 165, 213);
  --pink-400: rgb(251, 100, 182);
  --pink-500: rgb(246, 51, 154);
  --pink-600: rgb(230, 0, 118);
  --pink-700: rgb(198, 0, 92);
  --pink-800: rgb(163, 0, 76);
  --pink-900: rgb(134, 16, 67);
  --pink-950: rgb(81, 4, 36);
  --purple-50: rgb(250, 245, 255);
  --purple-100: rgb(243, 232, 255);
  --purple-200: rgb(233, 212, 255);
  --purple-300: rgb(218, 178, 255);
  --purple-400: rgb(194, 122, 255);
  --purple-500: rgb(173, 70, 255);
  --purple-600: rgb(152, 16, 250);
  --purple-700: rgb(130, 0, 219);
  --purple-800: rgb(110, 17, 176);
  --purple-900: rgb(89, 22, 139);
  --purple-950: rgb(60, 3, 102);
  --red-50: rgb(254, 242, 242);
  --red-100: rgb(255, 226, 226);
  --red-200: rgb(255, 201, 201);
  --red-300: rgb(255, 162, 162);
  --red-400: rgb(255, 100, 103);
  --red-500: rgb(251, 44, 54);
  --red-600: rgb(231, 0, 11);
  --red-700: rgb(193, 0, 7);
  --red-800: rgb(159, 7, 18);
  --red-900: rgb(130, 24, 26);
  --red-950: rgb(70, 8, 9);
  --rose-50: rgb(255, 241, 242);
  --rose-100: rgb(255, 228, 230);
  --rose-200: rgb(255, 204, 211);
  --rose-300: rgb(255, 161, 173);
  --rose-400: rgb(255, 99, 126);
  --rose-500: rgb(255, 32, 86);
  --rose-600: rgb(236, 0, 63);
  --rose-700: rgb(199, 0, 54);
  --rose-800: rgb(165, 0, 54);
  --rose-900: rgb(139, 8, 54);
  --rose-950: rgb(77, 2, 24);
  --sky-50: rgb(240, 249, 255);
  --sky-100: rgb(223, 242, 254);
  --sky-200: rgb(184, 230, 254);
  --sky-300: rgb(116, 212, 255);
  --sky-400: rgb(0, 188, 255);
  --sky-500: rgb(0, 166, 244);
  --sky-600: rgb(0, 132, 209);
  --sky-700: rgb(0, 105, 168);
  --sky-800: rgb(0, 89, 138);
  --sky-900: rgb(2, 74, 112);
  --sky-950: rgb(5, 47, 74);
  --slate-50: rgb(248, 250, 252);
  --slate-100: rgb(241, 245, 249);
  --slate-200: rgb(226, 232, 240);
  --slate-300: rgb(202, 213, 226);
  --slate-400: rgb(144, 161, 185);
  --slate-500: rgb(98, 116, 142);
  --slate-600: rgb(69, 85, 108);
  --slate-700: rgb(49, 65, 88);
  --slate-800: rgb(29, 41, 61);
  --slate-900: rgb(15, 23, 43);
  --slate-950: rgb(2, 6, 24);
  --stone-50: rgb(250, 250, 249);
  --stone-100: rgb(245, 245, 244);
  --stone-200: rgb(231, 229, 228);
  --stone-300: rgb(214, 211, 209);
  --stone-400: rgb(166, 160, 155);
  --stone-500: rgb(121, 113, 107);
  --stone-600: rgb(87, 83, 77);
  --stone-700: rgb(68, 64, 59);
  --stone-800: rgb(41, 37, 36);
  --stone-900: rgb(28, 25, 23);
  --stone-950: rgb(12, 10, 9);
  --teal-50: rgb(240, 253, 250);
  --teal-100: rgb(203, 251, 241);
  --teal-200: rgb(150, 247, 228);
  --teal-300: rgb(70, 236, 213);
  --teal-400: rgb(0, 213, 190);
  --teal-500: rgb(0, 187, 167);
  --teal-600: rgb(0, 150, 137);
  --teal-700: rgb(0, 120, 111);
  --teal-800: rgb(0, 95, 90);
  --teal-900: rgb(11, 79, 74);
  --teal-950: rgb(2, 47, 46);
  --violet-50: rgb(245, 243, 255);
  --violet-100: rgb(237, 233, 254);
  --violet-200: rgb(221, 214, 255);
  --violet-300: rgb(196, 180, 255);
  --violet-400: rgb(166, 132, 255);
  --violet-500: rgb(142, 81, 255);
  --violet-600: rgb(127, 34, 254);
  --violet-700: rgb(112, 8, 231);
  --violet-800: rgb(93, 14, 192);
  --violet-900: rgb(77, 23, 154);
  --violet-950: rgb(47, 13, 104);
  --yellow-50: rgb(254, 252, 232);
  --yellow-100: rgb(254, 249, 194);
  --yellow-200: rgb(255, 240, 133);
  --yellow-300: rgb(255, 223, 32);
  --yellow-400: rgb(253, 199, 0);
  --yellow-500: rgb(240, 177, 0);
  --yellow-600: rgb(208, 135, 0);
  --yellow-700: rgb(166, 95, 0);
  --yellow-800: rgb(137, 75, 0);
  --yellow-900: rgb(115, 62, 10);
  --yellow-950: rgb(67, 32, 4);
  --zinc-50: rgb(250, 250, 250);
  --zinc-100: rgb(244, 244, 245);
  --zinc-200: rgb(228, 228, 231);
  --zinc-300: rgb(212, 212, 216);
  --zinc-400: rgb(159, 159, 169);
  --zinc-500: rgb(113, 113, 123);
  --zinc-600: rgb(82, 82, 92);
  --zinc-700: rgb(63, 63, 70);
  --zinc-800: rgb(39, 39, 42);
  --zinc-900: rgb(24, 24, 27);
  --zinc-950: rgb(9, 9, 11);
}