:root {
  --amber-50: rgba(255, 251, 235, 1);
  --amber-100: rgba(254, 243, 198, 1);
  --amber-200: rgba(254, 230, 133, 1);
  --amber-300: rgba(255, 210, 48, 1);
  --amber-400: rgba(255, 185, 0, 1);
  --amber-500: rgba(254, 154, 0, 1);
  --amber-600: rgba(225, 113, 0, 1);
  --amber-700: rgba(187, 77, 0, 1);
  --amber-800: rgba(151, 60, 0, 1);
  --amber-900: rgba(123, 51, 6, 1);
  --amber-950: rgba(70, 25, 1, 1);
  --blue-50: rgba(239, 246, 255, 1);
  --blue-100: rgba(219, 234, 254, 1);
  --blue-200: rgba(190, 219, 255, 1);
  --blue-300: rgba(142, 197, 255, 1);
  --blue-400: rgba(81, 162, 255, 1);
  --blue-500: rgba(43, 127, 255, 1);
  --blue-600: rgba(21, 93, 252, 1);
  --blue-700: rgba(20, 71, 230, 1);
  --blue-800: rgba(25, 60, 184, 1);
  --blue-900: rgba(28, 57, 142, 1);
  --blue-950: rgba(22, 36, 86, 1);
  --cyan-50: rgba(236, 254, 255, 1);
  --cyan-100: rgba(206, 250, 254, 1);
  --cyan-200: rgba(162, 244, 253, 1);
  --cyan-300: rgba(83, 234, 253, 1);
  --cyan-400: rgba(0, 211, 242, 1);
  --cyan-500: rgba(0, 184, 219, 1);
  --cyan-600: rgba(0, 146, 184, 1);
  --cyan-700: rgba(0, 117, 149, 1);
  --cyan-800: rgba(0, 95, 120, 1);
  --cyan-900: rgba(16, 78, 100, 1);
  --cyan-950: rgba(5, 51, 69, 1);
  --emerald-50: rgba(236, 253, 245, 1);
  --emerald-100: rgba(208, 250, 229, 1);
  --emerald-200: rgba(164, 244, 207, 1);
  --emerald-300: rgba(94, 233, 181, 1);
  --emerald-400: rgba(0, 212, 146, 1);
  --emerald-500: rgba(0, 188, 125, 1);
  --emerald-600: rgba(0, 153, 102, 1);
  --emerald-700: rgba(0, 122, 85, 1);
  --emerald-800: rgba(0, 96, 69, 1);
  --emerald-900: rgba(0, 79, 59, 1);
  --emerald-950: rgba(0, 44, 34, 1);
  --fuchsia-50: rgba(253, 244, 255, 1);
  --fuchsia-100: rgba(250, 232, 255, 1);
  --fuchsia-200: rgba(246, 207, 255, 1);
  --fuchsia-300: rgba(244, 168, 255, 1);
  --fuchsia-400: rgba(237, 106, 255, 1);
  --fuchsia-500: rgba(225, 42, 251, 1);
  --fuchsia-600: rgba(200, 0, 222, 1);
  --fuchsia-700: rgba(168, 0, 183, 1);
  --fuchsia-800: rgba(138, 1, 148, 1);
  --fuchsia-900: rgba(114, 19, 120, 1);
  --fuchsia-950: rgba(75, 0, 79, 1);
  --gray-50: rgba(249, 250, 251, 1);
  --gray-100: rgba(243, 244, 246, 1);
  --gray-200: rgba(229, 231, 235, 1);
  --gray-300: rgba(209, 213, 220, 1);
  --gray-400: rgba(153, 161, 175, 1);
  --gray-500: rgba(106, 114, 130, 1);
  --gray-600: rgba(74, 85, 101, 1);
  --gray-700: rgba(54, 65, 83, 1);
  --gray-800: rgba(30, 41, 57, 1);
  --gray-900: rgba(16, 24, 40, 1);
  --gray-950: rgba(3, 7, 18, 1);
  --green-50: rgba(240, 253, 244, 1);
  --green-100: rgba(220, 252, 231, 1);
  --green-200: rgba(185, 248, 207, 1);
  --green-300: rgba(123, 241, 168, 1);
  --green-400: rgba(5, 223, 114, 1);
  --green-500: rgba(0, 201, 80, 1);
  --green-600: rgba(0, 166, 62, 1);
  --green-700: rgba(0, 130, 54, 1);
  --green-800: rgba(1, 102, 48, 1);
  --green-900: rgba(13, 84, 43, 1);
  --green-950: rgba(3, 46, 21, 1);
  --indigo-50: rgba(238, 242, 255, 1);
  --indigo-100: rgba(224, 231, 255, 1);
  --indigo-200: rgba(198, 210, 255, 1);
  --indigo-300: rgba(163, 179, 255, 1);
  --indigo-400: rgba(124, 134, 255, 1);
  --indigo-500: rgba(97, 95, 255, 1);
  --indigo-600: rgba(79, 57, 246, 1);
  --indigo-700: rgba(67, 45, 215, 1);
  --indigo-800: rgba(55, 42, 172, 1);
  --indigo-900: rgba(49, 44, 133, 1);
  --indigo-950: rgba(30, 26, 77, 1);
  --lime-50: rgba(247, 254, 231, 1);
  --lime-100: rgba(236, 252, 202, 1);
  --lime-200: rgba(216, 249, 153, 1);
  --lime-300: rgba(187, 244, 81, 1);
  --lime-400: rgba(154, 230, 0, 1);
  --lime-500: rgba(124, 207, 0, 1);
  --lime-600: rgba(94, 165, 0, 1);
  --lime-700: rgba(73, 125, 0, 1);
  --lime-800: rgba(60, 99, 0, 1);
  --lime-900: rgba(53, 83, 14, 1);
  --lime-950: rgba(25, 46, 3, 1);
  --neutral-50: rgba(250, 250, 250, 1);
  --neutral-100: rgba(245, 245, 245, 1);
  --neutral-200: rgba(229, 229, 229, 1);
  --neutral-300: rgba(212, 212, 212, 1);
  --neutral-400: rgba(161, 161, 161, 1);
  --neutral-500: rgba(115, 115, 115, 1);
  --neutral-600: rgba(82, 82, 82, 1);
  --neutral-700: rgba(64, 64, 64, 1);
  --neutral-800: rgba(38, 38, 38, 1);
  --neutral-900: rgba(23, 23, 23, 1);
  --neutral-950: rgba(10, 10, 10, 1);
  --orange-50: rgba(255, 247, 237, 1);
  --orange-100: rgba(255, 237, 212, 1);
  --orange-200: rgba(255, 214, 167, 1);
  --orange-300: rgba(255, 184, 106, 1);
  --orange-400: rgba(255, 137, 4, 1);
  --orange-500: rgba(255, 105, 0, 1);
  --orange-600: rgba(245, 73, 0, 1);
  --orange-700: rgba(202, 53, 0, 1);
  --orange-800: rgba(159, 45, 0, 1);
  --orange-900: rgba(126, 42, 12, 1);
  --orange-950: rgba(68, 19, 6, 1);
  --pink-50: rgba(253, 242, 248, 1);
  --pink-100: rgba(252, 231, 243, 1);
  --pink-200: rgba(252, 206, 232, 1);
  --pink-300: rgba(253, 165, 213, 1);
  --pink-400: rgba(251, 100, 182, 1);
  --pink-500: rgba(246, 51, 154, 1);
  --pink-600: rgba(230, 0, 118, 1);
  --pink-700: rgba(198, 0, 92, 1);
  --pink-800: rgba(163, 0, 76, 1);
  --pink-900: rgba(134, 16, 67, 1);
  --pink-950: rgba(81, 4, 36, 1);
  --purple-50: rgba(250, 245, 255, 1);
  --purple-100: rgba(243, 232, 255, 1);
  --purple-200: rgba(233, 212, 255, 1);
  --purple-300: rgba(218, 178, 255, 1);
  --purple-400: rgba(194, 122, 255, 1);
  --purple-500: rgba(173, 70, 255, 1);
  --purple-600: rgba(152, 16, 250, 1);
  --purple-700: rgba(130, 0, 219, 1);
  --purple-800: rgba(110, 17, 176, 1);
  --purple-900: rgba(89, 22, 139, 1);
  --purple-950: rgba(60, 3, 102, 1);
  --red-50: rgba(254, 242, 242, 1);
  --red-100: rgba(255, 226, 226, 1);
  --red-200: rgba(255, 201, 201, 1);
  --red-300: rgba(255, 162, 162, 1);
  --red-400: rgba(255, 100, 103, 1);
  --red-500: rgba(251, 44, 54, 1);
  --red-600: rgba(231, 0, 11, 1);
  --red-700: rgba(193, 0, 7, 1);
  --red-800: rgba(159, 7, 18, 1);
  --red-900: rgba(130, 24, 26, 1);
  --red-950: rgba(70, 8, 9, 1);
  --rose-50: rgba(255, 241, 242, 1);
  --rose-100: rgba(255, 228, 230, 1);
  --rose-200: rgba(255, 204, 211, 1);
  --rose-300: rgba(255, 161, 173, 1);
  --rose-400: rgba(255, 99, 126, 1);
  --rose-500: rgba(255, 32, 86, 1);
  --rose-600: rgba(236, 0, 63, 1);
  --rose-700: rgba(199, 0, 54, 1);
  --rose-800: rgba(165, 0, 54, 1);
  --rose-900: rgba(139, 8, 54, 1);
  --rose-950: rgba(77, 2, 24, 1);
  --sky-50: rgba(240, 249, 255, 1);
  --sky-100: rgba(223, 242, 254, 1);
  --sky-200: rgba(184, 230, 254, 1);
  --sky-300: rgba(116, 212, 255, 1);
  --sky-400: rgba(0, 188, 255, 1);
  --sky-500: rgba(0, 166, 244, 1);
  --sky-600: rgba(0, 132, 209, 1);
  --sky-700: rgba(0, 105, 168, 1);
  --sky-800: rgba(0, 89, 138, 1);
  --sky-900: rgba(2, 74, 112, 1);
  --sky-950: rgba(5, 47, 74, 1);
  --slate-50: rgba(248, 250, 252, 1);
  --slate-100: rgba(241, 245, 249, 1);
  --slate-200: rgba(226, 232, 240, 1);
  --slate-300: rgba(202, 213, 226, 1);
  --slate-400: rgba(144, 161, 185, 1);
  --slate-500: rgba(98, 116, 142, 1);
  --slate-600: rgba(69, 85, 108, 1);
  --slate-700: rgba(49, 65, 88, 1);
  --slate-800: rgba(29, 41, 61, 1);
  --slate-900: rgba(15, 23, 43, 1);
  --slate-950: rgba(2, 6, 24, 1);
  --stone-50: rgba(250, 250, 249, 1);
  --stone-100: rgba(245, 245, 244, 1);
  --stone-200: rgba(231, 229, 228, 1);
  --stone-300: rgba(214, 211, 209, 1);
  --stone-400: rgba(166, 160, 155, 1);
  --stone-500: rgba(121, 113, 107, 1);
  --stone-600: rgba(87, 83, 77, 1);
  --stone-700: rgba(68, 64, 59, 1);
  --stone-800: rgba(41, 37, 36, 1);
  --stone-900: rgba(28, 25, 23, 1);
  --stone-950: rgba(12, 10, 9, 1);
  --teal-50: rgba(240, 253, 250, 1);
  --teal-100: rgba(203, 251, 241, 1);
  --teal-200: rgba(150, 247, 228, 1);
  --teal-300: rgba(70, 236, 213, 1);
  --teal-400: rgba(0, 213, 190, 1);
  --teal-500: rgba(0, 187, 167, 1);
  --teal-600: rgba(0, 150, 137, 1);
  --teal-700: rgba(0, 120, 111, 1);
  --teal-800: rgba(0, 95, 90, 1);
  --teal-900: rgba(11, 79, 74, 1);
  --teal-950: rgba(2, 47, 46, 1);
  --violet-50: rgba(245, 243, 255, 1);
  --violet-100: rgba(237, 233, 254, 1);
  --violet-200: rgba(221, 214, 255, 1);
  --violet-300: rgba(196, 180, 255, 1);
  --violet-400: rgba(166, 132, 255, 1);
  --violet-500: rgba(142, 81, 255, 1);
  --violet-600: rgba(127, 34, 254, 1);
  --violet-700: rgba(112, 8, 231, 1);
  --violet-800: rgba(93, 14, 192, 1);
  --violet-900: rgba(77, 23, 154, 1);
  --violet-950: rgba(47, 13, 104, 1);
  --yellow-50: rgba(254, 252, 232, 1);
  --yellow-100: rgba(254, 249, 194, 1);
  --yellow-200: rgba(255, 240, 133, 1);
  --yellow-300: rgba(255, 223, 32, 1);
  --yellow-400: rgba(253, 199, 0, 1);
  --yellow-500: rgba(240, 177, 0, 1);
  --yellow-600: rgba(208, 135, 0, 1);
  --yellow-700: rgba(166, 95, 0, 1);
  --yellow-800: rgba(137, 75, 0, 1);
  --yellow-900: rgba(115, 62, 10, 1);
  --yellow-950: rgba(67, 32, 4, 1);
  --zinc-50: rgba(250, 250, 250, 1);
  --zinc-100: rgba(244, 244, 245, 1);
  --zinc-200: rgba(228, 228, 231, 1);
  --zinc-300: rgba(212, 212, 216, 1);
  --zinc-400: rgba(159, 159, 169, 1);
  --zinc-500: rgba(113, 113, 123, 1);
  --zinc-600: rgba(82, 82, 92, 1);
  --zinc-700: rgba(63, 63, 70, 1);
  --zinc-800: rgba(39, 39, 42, 1);
  --zinc-900: rgba(24, 24, 27, 1);
  --zinc-950: rgba(9, 9, 11, 1);
}