@import '../../styles/variables.scss';

.title_box {
  width: 768px;
}

@include md {
  .title_box {
    width: 657px;
  }
}

@include sm {
  .title_box {
    width: 540px;
  }
}

@include xs {
  .title_box {
    width: 252px;
  }
}

.title {
  color: $light-pink;

  em {
    font-style: normal;
    color: $grey-pink;
  }
}
