@import "react-data-grid/lib/styles.css";

.rdg {
  --rdg-color: var(--foreground);
  --rdg-border-color: var(--border) / 0.25;
  --rdg-summary-border-color: var(--border);
  --rdg-background-color: var(--background);
  --rdg-header-background-color: var(--background);
  --rdg-header-draggable-background-color: var(--background);
  --rdg-row-hover-background-color: var(--accent);
  --rdg-row-selected-background-color: var(--accent);
  --rdg-row-selected-hover-background-color: var(--accent);
  --rdg-checkbox-color: hsl(207deg 100% 29%);
  --rdg-checkbox-focus-color: hsl(207deg 100% 69%);
  --rdg-checkbox-disabled-border-color: #ccc;
  --rdg-checkbox-disabled-background-color: #ddd;

  --rdg-selection-color: var(--ring);
  --rdg-font-size: 13px;
  --rdg-cell-frozen-box-shadow: calc(2px * var(--rdg-sign)) 0 5px -2px
    var(--rdg-border-color);
}

/* edit button */
.rdg-row__select-column__edit-action {
  @apply opacity-0;
}

.rdg-row:hover .rdg-row__select-column__edit-action {
  @apply opacity-100;
}

.rdg-row__select-column__edit-action:hover {
  opacity: 1 !important;
}

.rdg-header-row > .rdg-cell {
  border-top: none;
  border-bottom: 1px solid var(--border);
}

.rdg-header-row > .rdg-cell[aria-selected="true"] {
  outline: none;
  box-shadow: none;
}

.rdg-cell {
  padding: 0;
}

.rdg-row > .rdg-cell {
  border: none;
}

.rdg-cell[aria-selected="true"] {
  outline: none;
  box-shadow: none;
}

.rdg-cell-frozen {
  box-shadow: var(--rdg-cell-frozen-box-shadow);
}

.rdg-cell-copied {
  background-color: var(--accent);
}

.rdg-cell-frozen-last {
  box-shadow: var(--rdg-cell-frozen-box-shadow);
}
