@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0px;
  padding: 0;
}

/* for editor canvas */
html {
  overflow: hidden;
  height: 100%;
  overscroll-behavior-x: none;
}
body {
  overscroll-behavior-x: none;
  touch-action: none;
  height: 100%;
  overflow: auto;
}
/* ----------------- */

.white {
  color: #fff;
}

.no-scroll-bar {
  -ms-overflow-style: none;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}
