[submodule "boring"]
	path = boring
	url = https://github.com/gridaco/boring
[submodule "ui/editor-ui"]
	path = ui/editor-ui
	url = https://github.com/reflect-ui/reflect-editor-ui
[submodule "externals/code"]
	path = externals/code
	url = https://github.com/gridaco/code
