[package]
name = "cg"
version = "0.0.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
# skia
skia-safe = { version = "0.89.0", features = ["gpu", "gl", "textlayout", "pdf", "svg", "webp"] }
gl = "0.14.0"

# io
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
json-patch = "4.1.0"

# geo
math2 = { path = "../math2" }
rstar = "0.12"

# core resource hashing
seahash = "4.1.0"
# layout engine
taffy = "0.9.1"
# svg parsing
usvg = "0.45.1"

# toolings
async-trait = "0.1"
futures = "0.3.31"

# testing
figma-api = { version = "0.31.3", optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
reqwest = "0.12.19"
glutin = "0.32.0"
glutin-winit = "0.5.0"
raw-window-handle = "0.6.0"
winit = "0.30.0"
tokio = { version = "1", features = ["macros", "rt-multi-thread", "time"] }

[features]
default = []
figma = ["figma-api"]
web = []
native-clock-tick = []

[dev-dependencies]
criterion = "0.5"
clap = { version = "4.5.39", features = ["derive"] }
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }

[[bench]]
name = "bench_rectangles"
harness = false

[[bench]]
name = "bench_mipmap"
harness = false

[[example]]
name = "app_figma"
required-features = ["figma"]
