@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./ui.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 23, 23, 23;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  *,
  ::before,
  ::after {
    @apply dark:border-neutral-700;
  }
}
