.title {
  color: #fff;
  font-weight: 900 !important;
  line-height: 100% !important;
  letter-spacing: 0.01em !important;
}

.sub_title_box {
  margin-top: 53px;
  margin-bottom: 100px;
  color: #fff;
}

.sub_title {
  font-weight: 500 !important;
  font-size: 36px !important;
  line-height: 135% !important;
}
