.title {
  color: #FF9E45;
  font-weight: 900 !important;
  line-height: 100% !important;
}

.sub_title_box {
  color: #fff;
  font-weight: 900 !important;
  line-height: 100% !important;
  letter-spacing: 0em !important;
  margin-bottom: 138px;

  .sub_title_first {
    margin-top: 235px;
  }

  .sub_title_second {
    margin-top: 22px;
  }
}
