.rdg {
  --rdg-color: hsl(var(--foreground));
  --rdg-border-color: hsl(var(--border) / 0.25);
  --rdg-summary-border-color: hsl(var(--border));
  --rdg-background-color: hsl(var(--background));
  --rdg-header-background-color: hsl(var(--background));
  --rdg-header-draggable-background-color: hsl(var(--background));
  --rdg-row-hover-background-color: hsl(var(--accent));
  --rdg-row-selected-background-color: hsl(var(--accent));
  --rdg-row-selected-hover-background-color: hsl(var(--accent));
  --rdg-checkbox-color: hsl(207deg 100% 29%);
  --rdg-checkbox-focus-color: hsl(207deg 100% 69%);
  --rdg-checkbox-disabled-border-color: #ccc;
  --rdg-checkbox-disabled-background-color: #ddd;

  --rdg-selection-color: hsl(var(--ring));
  --rdg-font-size: 13px;
  --rdg-cell-frozen-box-shadow: calc(2px * var(--rdg-sign)) 0 5px -2px var(--rdg-border-color);
}

/* edit button */
.rdg-row__select-column__edit-action {
  @apply opacity-0;
}

.rdg-row:hover .rdg-row__select-column__edit-action {
  @apply opacity-100;
}

.rdg-row__select-column__edit-action:hover {
  opacity: 1 !important;
}

.rdg-header-row > .rdg-cell {
  border-top: 1px solid hsl(var(--border));
  border-bottom: 1px solid hsl(var(--border));
}

.rdg-row > .rdg-cell {
  border: 1px solid var(--rdg-border-color);
}

.rdg-cell[aria-selected="true"] {
  box-shadow: inset 0 0 0 1px var(--rdg-selection-color);
  outline: 2px solid var(--rdg-selection-color);
}

.rdg-cell-frozen {
  box-shadow: var(--rdg-cell-frozen-box-shadow);
}

.rdg-cell-copied {
  background-color: hsl(var(--accent));
}

.rdg-cell-frozen-last {
  box-shadow: var(--rdg-cell-frozen-box-shadow);
}
