@import '../../styles/variables.scss';

.title_box {
  margin: 0 240px;
}

.video_player_wrapper {
  margin-top: 120px;
  cursor: pointer;
  pointer-events: all;
}

.video {
  width: 1066px;
  height: 666px;
  position: relative;
  margin: 0 auto;

}



.video_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1) translateZ(0px);
  will-change: transform;
}

.youtube_player {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  overflow: hidden;
  z-index: 500;

  .player {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
  }

  .youtube_player_wrapper {
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
  }

  .player_background {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
  }

  iframe {
    border: 0;

    @media (max-width: 640px) {
      margin: 0 32px;
    }
  }
}


@include md {
  .title_box {
    margin: 0 74px;
  }

  .video_player_wrapper {
    margin-top: 101px;
  }

  .video {
    width: 870px;
    height: 543px;
  }

  .video_play {
    width: 164px;
    height: 164px;
  }
}

@include sm {
  .title_box {
    margin: 0 24px;
  }

  .video {
    width: 768px;
    height: 511px;
  }

  .video_play {
    width: 100px;
    height: 100px;
  }
}

@include xs {
  .title_box {
    margin: 0 24px;
  }

  .video {
    width: 375px;
    height: 247px;
  }

  .video_play {
    width: 56px;
    height: 56px;
  }

}

.sub_title {
  color: #A0BBFF;
  margin-top: 36px;
}
