# [required] 
# supabase
# run `supabase start` or `supabase status -o env` to get the local keys
NEXT_PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
NEXT_PUBLIC_SUPABASE_ANON_KEY=...
SUPABASE_SERVICE_KEY=...

# [optional]
# Read Replicas (if you have any) (add with NEXT_PUBLIC_SUPABASE_URL_RR_<region>)
NEXT_PUBLIC_SUPABASE_URL_RR_US_WEST_1=...
NEXT_PUBLIC_SUPABASE_URL_RR_AP_NORTHEAST_2=...

# [insiders config]
# flag to use unsafe sandbox (set 1 to enable)
NEXT_PUBLIC_GRIDA_UNSAFE_DEVELOPER_SANDBOX='0'
NEXT_PUBLIC_GRIDA_USE_INSIDERS_AUTH='1'
NEXT_PUBLIC_GRIDA_LOCALHOST_REGION="us-west-1"

# [optional]
# some features may require these keys

# mapbox
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=...

# openai
OPENAI_API_KEY='sk-xxx'
NEXT_PUBLIC_OPENAI_BEST_MODEL_ID="gpt-4o-mini"

# resend
RESEND_API_KEY='re_123'

# vercel
VERCEL_AUTH_BEARER_TOKEN='' # (get it from https://vercel.com/account/tokens)
# Vercel Team ID that can be found here: https://vercel.com/teams/<org>/settings
# Only required if you're using this with a Vercel team
VERCEL_TEAM_ID=''
# Vercel Project ID that can be found here: https://vercel.com/<org>/<project>/settings
VERCEL_PROJECT_ID=''

# tosspayments is a pg provider in south korea. if you want to test this feature, use this public test key
INTEGRATIONS_TEST_TOSSPAYMENTS_CUSTOMER_KEY="test_ck_ORzdMaqN3w92ng0ALboPr5AkYXQG"
INTEGRATIONS_TEST_TOSSPAYMENTS_SECRET_KEY="test_sk_6BYq7GWPVvyJpbAv24nw3NE5vbo1"