@import '../../styles/variables.scss';

.container {
  margin: 0 auto;
  text-align: center;
}

.title {
  color: #fff;
}

.sub_title {
  color: $sky-blue;
  margin-bottom: 24px !important;
}

.cloudSync_img {
  width: 100%;
  margin-top: 200px;
}

@include lg {
  .cloudSync_img {
    margin-top: 158px;
  }

}

@include md {
  .cloudSync_img {
    margin-top: 160px;
  }
}

@include sm {
  .cloudSync_img {
    margin-top: 160;
  }
}

@include xs {
  .cloudSync_img {
    margin-top: 170px;
  }
}
