.container {
  margin: 0 auto;
  text-align: center;
}

.title {
  color: #fff;
  font-weight: 900 !important;
  line-height: 112px;
  letter-spacing: 0.01em !important;

}

.sub_title {
  color: #fff;
  margin-bottom: 24px !important;
  font-size: 36px !important;
  font-weight: 500 !important;
  letter-spacing: 0em !important;
}
