.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  padding: 0 328px;
  background: rgba(11, 6, 69, 0.8);
  text-align: center;
  border-bottom: 1px solid rgba($color: #3A3390, $alpha: 0.2);
  backdrop-filter: blur(64px);

  span {
    color: #463f95;
  }
}

.logo {
  float: left;
}
