@import '../../styles/variables.scss';


.header_container {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  // padding: 0 328px;
  background: rgba(11, 6, 69, 0.8);
  text-align: center;
  border-bottom: 1px solid rgba($color: #3A3390, $alpha: 0.2);
  backdrop-filter: blur(64px);
  z-index: 999;
  overflow-x: scroll;
}

.header {
  width: $inner-container-widescreen;
  margin: 0 auto;
}


.nav {
  float: left;
  // width: 422px;
  width: 300px;
  margin-top: 38px;
  margin-bottom: 37px;
}

.sub_nav {
  float: right;
  width: 155px;
  margin-top: 38px;
  margin-bottom: 37px;
  margin-right: 0;

}

.menu {
  color: $light-indigo;
  display: inline-block;
}

@include md {
  .header {
    width: $inner-container-desktop;
  }
}

@include sm {
  .header {
    width: $inner-container-mobile;
  }

  .nav {
    width: 338px;
  }

  .sub_nav {
    width: 127px;
  }
}

@include xs {
 
}



.logo {
  float: left;
  margin: 22px 0;
  margin-right: 88px;
}
