body.vscode-dark, body.vscode-dark>.nb-notebook {
    background-color: rgb(51, 51, 51)!important;
}

body.vscode-dark .nb-input:before, body.vscode-dark .nb-output:before{
    color:#fff;
}

body.vscode-dark .nb-output{
    background: #dadada;
}

body.vscode-dark .nb-markdown-cell{
    color: #ccc;
}

body.vscode-dark table{
    background: #ccc!important;
}