@import '../../styles/variables.scss';

.title {
  color: $background-indigo;

  em {
    font-style: normal;
    color: $vivid-pink2;
  }
}

.sub_title {
  color: #fff;
  margin-top: 48px !important;
  margin-bottom: 168px !important;
}
