/* @import 'fontsource-roboto'; */

body {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Roboto'; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
