@import './variables.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  width: 100%;
  background-color: $indigo-600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .section_container {
    margin-top: 300px;
  }
}

.inner_container {
  width: $inner-container-widescreen;
  margin: 0 auto;
}

.btn {
  background-color: $cobalt-blue !important;
  border-radius: 140px !important;
  color: #fff !important;
  padding: 21px 44px !important;
}


@include md {
  .inner_container {
    width: $inner-container-desktop;
  }

  .main {
    .section_container {
      margin-top: 200px;
    }
  }
}

@include sm {
  .inner_container {
    width: $inner-container-mobile;
  }

  .main {
    .section_container {
      margin-top: 150px;
    }
  }

  .btn {
    padding: 12px 24px !important;
  }
}

@include xs {
  .inner_container {
    width: $inner-container-small-mobile;
  }

  .main {
    .section_container {
      margin-top: 150px;
    }
  }

  .btn {
    padding: 13px 24px !important;
  }
}
