@import './variables.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  /* padding: 5rem 0; */
  flex: 1;
  width: 100%;
  background-color: #0b0645;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner_container {
  width: $inner-container-widescreen;
  margin: 0 auto;
}

.btn {
  width: 246px;
  height: 72px;
  font-size: 21px;
  background-color: #EE1347 !important;
  border-radius: 140px !important;
  color: #fff !important;

}


@include md {
  .inner_container {
    width: $inner-container-desktop;
  }
}

@include sm {
  .inner_container {
    width: $inner-container-mobile;
  }
}

@include xs {
  .inner_container {
    width: $inner-container-small-mobile;
  }
}
