$vivid-red: #ee1347;
$vivid-pink: #ff327c;
$vivid-pink2: #ff3c99;
$light-pink: #c07b7b;
$grey-pink: #c35151;

$indigo-800: #040030;
$indigo-600: #0b0645;
$light-200: #463f95;
$indigo-300: #3a3390;
$indigo-400: #292467;
$indigo-350: #211A70;

$sky-blue: #a0bbff;

$light-purple: #beb8ff;
$vivid-blue: #0038ff;
$point-yellow: #ffb800;
$point-orange: #ff9e45;

$breakpoint-mobile: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-widescreen: 1280px;

$inner-container-small-mobile: 343px;
$inner-container-mobile: 720px;
$inner-container-desktop: 876px;
$inner-container-widescreen: 1024px;

@mixin md {
  @media (min-width: #{$breakpoint-desktop})and (max-width : #{$breakpoint-widescreen - 1px}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin xs {
  @media (max-width: #{$breakpoint-mobile - 1px}) {
    @content;
  }
}
