/* 
- https://www.blocknotejs.org/docs/styling-theming/themes
*/

/* Base theme */
.bn-container[data-theming-ui-css-variables][data-color-scheme] {
  --bn-colors-editor-text: var(--foreground);
  --bn-colors-editor-background: transparent;
  --bn-colors-menu-text: var(--popover-foreground);
  --bn-colors-menu-background: var(--popover);
  --bn-colors-tooltip-text: var(--foreground);
  --bn-colors-tooltip-background: var(--background);
  --bn-colors-hovered-text: var(--accent-foreground);
  --bn-colors-hovered-background: var(--accent);
  --bn-colors-selected-text: var(--foreground);
  --bn-colors-selected-background: var(--accent);
  --bn-colors-disabled-text: var(--muted-foreground);
  --bn-colors-disabled-background: var(--muted);
  --bn-colors-shadow: rgba(0, 0, 0, 0.04);
  --bn-colors-border: var(--border);
  --bn-colors-side-menu: var(--muted-foreground);
  --bn-border-radius: var(--radius);
}
