@font-face {
    font-family: "HelveticaNeue";
    font-weight: 100;
    src: url('/fonts/HelveticaNeue-UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: 200;
    src: url('/fonts/HelveticaNeue-Thin.ttf') format('truetype');
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: 300;
    src: url('/fonts/HelveticaNeue-Light.ttf') format('truetype');
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: 400;
    src: url('/fonts/HelveticaNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: 500;
    src: url('/fonts/HelveticaNeue-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: 600;
    src: url('/fonts/HelveticaNeue-Bold.ttf') format('truetype');
}