@font-face {
    font-family: "HelveticaNeue";
    font-weight: 400;
    src: url('/fonts/HelveticaNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: 500;
    src: url('/fonts/HelveticaNeue-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "HelveticaNeue";
    font-weight: 600;
    src: url('/fonts/HelveticaNeue-Bold.ttf') format('truetype');
}