<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
      <key>CFBundleName</key>
      <string>Grida</string>
      <key>CFBundleDisplayName</key>
      <string>Grida</string>
      <key>CFBundleIdentifier</key>
      <string>co.grida.desktop</string>
      <key>CFBundleURLName</key>
      <string>co.grida.desktop</string>
      <key>CFBundleURLSchemes</key>
      <array>
         <string>grida</string>
      </array>
      <key>CFBundleDocumentTypes</key>
      <array>
         <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
               <string>grida</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Grida Document</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeIconFile</key>
            <string>dotgrida.icns</string>
         </dict>
         <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
               <string>svg</string>
            </array>
            <key>CFBundleTypeName</key>
            <string>Scalable Vector Graphics</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
         </dict>
         <dict>
            <key>CFBundleTypeName</key>
            <string>Grida Canvas</string>
            <key>LSItemContentTypes</key>
            <array>
               <string>co.grida.canvas</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSTypeIsPackage</key>
            <true/>
         </dict>
      </array>
      <key>UTExportedTypeDeclarations</key>
      <array>
         <dict>
            <key>UTTypeIdentifier</key>
            <string>co.grida.canvas</string>
            <key>UTTypeDescription</key>
            <string>Grida Canvas</string>
            <key>UTTypeConformsTo</key>
            <array>
               <string>com.apple.package</string>
               <string>public.composite-content</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
               <key>public.filename-extension</key>
               <array>
                  <string>canvas</string>
               </array>
            </dict>
         </dict>
      </array>
   </dict>
</plist>